.css_fk_classificacao_label { }
.css_fk_classificacao_line {text-align:left;}
.css_fk_classificacao_obj {text-align:left;}
.css_cnpj_label { }
.css_cnpj_line { }
.css_cnpj_obj { }
.css_inscricao_label { }
.css_inscricao_line { }
.css_inscricao_obj { }
.css_razao_label { }
.css_razao_line { }
.css_razao_obj { }
.css_fantasia_label { }
.css_fantasia_line { }
.css_fantasia_obj { }
.css_datacadastro_label { }
.css_datacadastro_line { }
.css_datacadastro_obj { }
.css_cidade_label { }
.css_cidade_line { }
.css_cidade_obj { }
.css_estado_label { }
.css_estado_line { }
.css_estado_obj { }
.css_bairro_label { }
.css_bairro_line { }
.css_bairro_obj { }
.css_rua_label { }
.css_rua_line { }
.css_rua_obj { }
.css_complemento_label { }
.css_complemento_line { }
.css_complemento_obj { }
.css_numero_label { }
.css_numero_line { }
.css_numero_obj { }
.css_cep_label { }
.css_cep_line { }
.css_cep_obj { }
.css_fachada_label {text-align:center;}
.css_fachada_line {text-align:center;}
.css_fachada_obj {text-align:center;}
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_telefone_label { }
.css_telefone_line { }
.css_telefone_obj { }
.css_nome_contato_label { }
.css_nome_contato_line { }
.css_nome_contato_obj { }
.css_seg_m_de_label { }
.css_seg_m_de_line { }
.css_seg_m_de_obj { }
.css_seg_m_ate_label { }
.css_seg_m_ate_line { }
.css_seg_m_ate_obj { }
.css_seg_t_de_label { }
.css_seg_t_de_line { }
.css_seg_t_de_obj { }
.css_seg_t_ate_label { }
.css_seg_t_ate_line { }
.css_seg_t_ate_obj { }
.css_ter_m_de_label { }
.css_ter_m_de_line { }
.css_ter_m_de_obj { }
.css_ter_m_ate_label { }
.css_ter_m_ate_line { }
.css_ter_m_ate_obj { }
.css_ter_t_de_label { }
.css_ter_t_de_line { }
.css_ter_t_de_obj { }
.css_ter_t_ate_label { }
.css_ter_t_ate_line { }
.css_ter_t_ate_obj { }
.css_qua_m_de_label { }
.css_qua_m_de_line { }
.css_qua_m_de_obj { }
.css_qua_m_ate_label { }
.css_qua_m_ate_line { }
.css_qua_m_ate_obj { }
.css_qua_t_de_label { }
.css_qua_t_de_line { }
.css_qua_t_de_obj { }
.css_qua_t_ate_label { }
.css_qua_t_ate_line { }
.css_qua_t_ate_obj { }
.css_qui_m_de_label { }
.css_qui_m_de_line { }
.css_qui_m_de_obj { }
.css_qui_m_ate_label { }
.css_qui_m_ate_line { }
.css_qui_m_ate_obj { }
.css_qui_t_de_label { }
.css_qui_t_de_line { }
.css_qui_t_de_obj { }
.css_qui_t_ate_label { }
.css_qui_t_ate_line { }
.css_qui_t_ate_obj { }
.css_sex_m_de_label { }
.css_sex_m_de_line { }
.css_sex_m_de_obj { }
.css_sex_m_ate_label { }
.css_sex_m_ate_line { }
.css_sex_m_ate_obj { }
.css_sex_t_de_label { }
.css_sex_t_de_line { }
.css_sex_t_de_obj { }
.css_sex_t_ate_label { }
.css_sex_t_ate_line { }
.css_sex_t_ate_obj { }
.css_sab_m_de_label { }
.css_sab_m_de_line { }
.css_sab_m_de_obj { }
.css_sab_m_ate_label { }
.css_sab_m_ate_line { }
.css_sab_m_ate_obj { }
.css_sab_t_de_label { }
.css_sab_t_de_line { }
.css_sab_t_de_obj { }
.css_sab_t_ate_label { }
.css_sab_t_ate_line { }
.css_sab_t_ate_obj { }
.css_dom_m_de_label { }
.css_dom_m_de_line { }
.css_dom_m_de_obj { }
.css_dom_m_ate_label { }
.css_dom_m_ate_line { }
.css_dom_m_ate_obj { }
.css_dom_t_de_label { }
.css_dom_t_de_line { }
.css_dom_t_de_obj { }
.css_dom_t_ate_label { }
.css_dom_t_ate_line { }
.css_dom_t_ate_obj { }
.css_retype_email_label { }
.css_retype_email_line { }
.css_retype_email_obj { }
.css_txtmensagem_label {color:#CC0000;text-align:center;}
.css_txtmensagem_line {color:#CC0000;text-align:center;}
.css_txtmensagem_obj {text-align:center;}
