.css_datacadastro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_datacadastro_grid_line {vertical-align: top;text-align: center;}
.css_cnpj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cnpj_grid_line {vertical-align: top;text-align: right;}
.css_razao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_razao_grid_line {vertical-align: top;text-align: right;}
.css_fk_classificacao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fk_classificacao_grid_line {vertical-align: top;text-align: right;}
.css_classificacao1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_classificacao1_grid_line {vertical-align: top;text-align: right;}
.css_classificacao2_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_classificacao2_grid_line {vertical-align: top;text-align: right;}
.css_cidade_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cidade_grid_line {vertical-align: top;text-align: right;}
.css_estado_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_estado_grid_line {vertical-align: top;text-align: right;}
.css_telefone_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_telefone_grid_line {vertical-align: top;text-align: right;}
.css_ativo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_ativo_grid_line {vertical-align: top;text-align: right;}
.css_pk_contrato_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_pk_contrato_grid_line {vertical-align: top;text-align: right;}
.css_inscricao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_inscricao_grid_line {vertical-align: top;text-align: right;}
