.scBtnGrpBackground { background-color: #5e56fc; border-color: #E0E6ED; border-style: solid; border-width: 1px; border-collapse: collapse; border-radius: 100; -moz-border-radius: 100px; -webkit-border-radius: 100px; padding: 0; z-index: 99999; text-align: left }
.scBtnGrpText { background-color: #FFFFFF; padding: 6px 52px 6px 15px }
.scBtnGrpTextOver { background-color: #EFF2F7 }
.scBtnGrpLink { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; font-weight: bold; text-decoration: none }
